#adminLeftContainer{
	-fx-background-color:#0CE1F7;
	-fx-border-width:2px;
	-fx-border-style:solid;
	-fx-border-color:#17E523;
}
#adminContainer{
	-fx-background-color:#C3CFE5;
}
#profile,#addUser,#manageUser,#requirements,#authLevel,#homeBtn{
	-fx-background-color:#3E4D4E;
	-fx-text-fill:#C9F1F5;
	-fx-font-size:13px;
	-fx-font-weight:bold;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);
}
#initTable,#manageUsersTable,#allReqTable{
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 30, 0, 0, 0);
}
#adminLabel1{
	-fx-font-family: "Times New Roman", Times, serif;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 0, 0);
}
#adminLabel2{
	-fx-text-fill:#F0F704;
}
#profileContainer,#rightContainer1{
	-fx-background-color:#0FD6E6;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 30, 0, 0, 0);
}
#clearButton{
	-fx-text-fill:white;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 30, 0, 0, 0);
	-fx-background-color:linear-gradient(from 0% 0% to 100% 100%, #031854 0%, #0C44E7 100%);
	-fx-cursor:hand;
}
#createButton{
	-fx-text-fill:white;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 30, 0, 0, 0);
	-fx-background-color:linear-gradient(from 0% 0% to 100% 100%, #031854 0%, #0C44E7 100%);
}
#logout{
	-fx-text-fill:white;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 30, 0, 0, 0);
	-fx-background-color:linear-gradient(from 0% 0% to 100% 100%, #E70C72 0%, #700437 100%);
	-fx-cursor:hand;
}
#updateUser{
	-fx-text-fill:white;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 30, 0, 0, 0);
	-fx-background-color:linear-gradient(from 0% 0% to 100% 100%, #8423F9 0%, #7652A1 100%);
	-fx-cursor:hand;
}
#userLevel{
	-fx-text-fill:white;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 30, 0, 0, 0);
	-fx-background-color:linear-gradient(from 0% 0% to 100% 100%, #8423F9 0%, #7652A1 100%);
	-fx-cursor:hand;
}
#userState{
	-fx-text-fill:white;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 30, 0, 0, 0);
	-fx-background-color:linear-gradient(from 0% 0% to 100% 100%, #8423F9 0%, #7652A1 100%);
	-fx-cursor:hand;
}